:root {
    --spacing-base: 2rem;
}
.cas--wrapper {
    margin-top: calc(var(--spacing-base) * 2);
}
.bx--form-item,
.cas--spacer {
    margin-bottom: var(--spacing-base);
}
.cas--heading {
    font-size: 2em;
    margin-bottom: var(--spacing-base);
}
.cas--message-center{
    margin: 0 auto;
}